@using System.Web.Mvc.Html
@using MVCProject
@using MVCProject.Models

@model ArticleListingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@if (Model.View == null)
{
    Model.View = "List";
}

@if (Model.SortOrder == null)
{
    Model.SortOrder = MvcApplication.Cookie.Values["sortOrder"];
}

<h2>Article Listing</h2>

<ul class="links">
    <li>@Html.ActionLink("Reports", "Reports")</li>

    <li>@Html.ActionLink("Create new article", "Create")</li>

    <li>@Html.ActionLink("Create new user", "Create", "User")</li>

    <li>@Html.ActionLink("Go Home", "Home")</li>

    <li>@Html.ActionLink("User List", "UserList", "User")</li>
</ul>

<div class="Articles">
    <div class="ArticlesHead">
        <span class="article-title-header">
            @if (Model.View == "List")
            {
                <h3>Article</h3>
            }            
            <span class="icon-sort-alpha-asc">
                @if (Model.SortOrder == "" || Model.SortOrder == "asc")
                {
                    @Html.ActionLink("Z to A", "Sort", new { order = "desc", sortBy = "Title", view = MvcApplication.Cookie.Values["view"], page = Model.PageNumber })
                }
                else
                {
                    @Html.ActionLink("A to Z", "Sort", new { order = "asc", sortBy = "Title", view = MvcApplication.Cookie.Values["view"], page = Model.PageNumber })
                }
            </span>
        </span>
        @if (Model.View == "List")
        {
            <span class="article-author-header">
                <h3>Author</h3>
            </span>
        }
        @if (Model.View == "Grid")
        {
            <div id="list-grid-view" class="list-view">@Html.ActionLink("List", "ChangeView", new { view = Model.View, sortBy = "Title", order = MvcApplication.Cookie.Values["sortOrder"], page = MvcApplication.Cookie.Values["page"] })</div>
        }
        else
        {
            <div id="list-grid-view" class="grid-view">@Html.ActionLink("Grid", "ChangeView", new { view = Model.View, sortBy = "Title", order = MvcApplication.Cookie.Values["sortOrder"], page = MvcApplication.Cookie.Values["page"] })</div>
        }
    </div>
    <div class="ArticlesBody">
        @foreach (var article in Model.Articles)
        {
            <div class="article-item @Model.View">
                <span class="article-title">@Html.ActionLink(@article.Title, "Details", new { id = article.Id })</span>
                <span class="article-author">@article.Author</span>
                @if (Model.View == "Grid")
                {
                    <span class="article-content">@article.Content</span>
                }
            </div>
        }
    </div>
    <div class="ArticlesFooter">
        <div class="pages">
            <span>
                @for (var i = 1; i <= Model.TotalCount; i++)
                {
                    @Html.ActionLink(i.ToString(), "Index", routeValues: new { page = i, size = Model.PageSize, view = MvcApplication.Cookie.Values["view"], order = MvcApplication.Cookie.Values["sortOrder"], sortBy = "Title"})
                }
            </span>
        </div>
    </div>
</div>
