@using System.Web.Mvc.Html
@using MVCProject.Models

@model ArticleListingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Listing</h2>

<ul class="links">
    <li>@Html.ActionLink("Reports", "Reports")</li>

    <li>@Html.ActionLink("Create new article", "Create")</li>

    <li>@Html.ActionLink("Create new user", "Create", "User")</li>

    <li>@Html.ActionLink("Go Home", "Home")</li>

    <li>@Html.ActionLink("User List", "UserList", "User")</li>
</ul>

<table class="Articles">
    <thead>
        <tr class="header">
            <td class="article-title-header">
                <h3>Article</h3>
            </td>
            <td class="article-author-header">
                <h3>Author</h3>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            <tr>
                <td class="article-title">@Html.ActionLink(@article.Title, "Details", new { id = article.Id })</td>
                <td class="article-author">@article.Author</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="pages">
            <td colspan="2">
                @for (var i = 1; i <= Model.TotalCount; i++)
                {
                    @Html.ActionLink(i.ToString(), "Index", new { page = i, size = Model.PageSize })
                }
            </td>
        </tr>
    </tfoot>
</table>
