@using System.Web.Mvc.Html
@using MVCProject.Models

@model ArticleListingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Listing</h2>

<ul class="links">
    <li>@Html.ActionLink("Reports", "Reports")</li>

    <li>@Html.ActionLink("Create new article", "Create")</li>

    <li>@Html.ActionLink("Create new user", "Create", "User")</li>

    <li>@Html.ActionLink("Go Home", "Home")</li>

    <li>@Html.ActionLink("User List", "UserList", "User")</li>
</ul>

<div class="Articles">
    <div class="ArticlesHead">        
            <span class="article-title-header">
                <h3>Article</h3>
            </span>
            <span class="article-author-header">
                <h3>Author</h3>
            </span>        
    </div>
    <div class="ArticlesBody">
        @foreach (var article in Model.Articles)
        {
            <div>
                <span class="article-title">@Html.ActionLink(@article.Title, "Details", new { id = article.Id })</span>
                <span class="article-author">@article.Author</span>
            </div>
        }
    </div>
    <div class="ArticlesFooter">
        <div class="pages">
            <span>
                @for (var i = 1; i <= Model.TotalCount; i++)
                {
                    @Html.ActionLink(i.ToString(), "Index", new { page = i, size = Model.PageSize })
                }
            </span>
        </div>
    </div>
</div>
