@model List<MVCProject.Models.UserViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    
    <h2>User List</h2>

    <div class="user-list">
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="user">
                @Html.Raw(string.Format("{0}. {1} {2}, {3}", i + 1, Model[i].FirstName, Model[i].LastName, Model[i].Age))
                @Html.HiddenFor(m => m[i].Id)
                <div class="UserListButtons">
                    @Html.ActionLink("Delete user", "Delete", "User", new { id = Model[i].Id }, new object())
                    @Html.ActionLink("Edit User", "Edit", "User", new { id = @Model[i].Id }, new object())
                </div>
            </div>
        }
    </div>
</body>
