@model List<MVCProject.Models.UserViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
@RenderBody()
<h2>User List</h2>

<div class="user-list">
    @for (var i = 0; i < Model.Count; i++)
    {
        <p>
            @Html.Raw(string.Format("{0}. {1} {2}, {3}", i + 1, Model[i].FirstName, Model[i].LastName, Model[i].Age))
            @Html.HiddenFor(m => m[i].Id)
            @Html.ActionLink("Delete user", "DeleteUser", "User", new {id = Model[i].Id}, new object())
            @Html.ActionLink("Edit User", "EditUser", "User", new {id = @Model[i].Id}, new object())
        </p>
    }
</div>
@Html.ActionLink("Go to Article Listing", "OpenArticleListing")
</body>
