@using System.Web.Mvc.Html
@{
    ViewBag.Title = "WebReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MVCProject.Models.WebReportModel

<body>
    @RenderBody()
    <h2>WebReport</h2>
    @using (@Html.BeginForm("Submit", "WebReport", FormMethod.Post, new { @model = @Model}))
    {
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td>
                        <p class="select-method">@Html.DropDownListFor(m=>m.SelectedOption.Value, @Model.Options)</p>
                    </td>
                    <td>
                        @Html.Hidden("returnUrl", Request.Url.ToString())
                        <button type="submit">Submit</button>

                    </td>
                </tr>
                <tr class="result">
                    <td>
                        <div>@Model.Content</div>
                    </td>
                </tr>
            </tbody>
        </table>}
</body>
