@using System.Web.Mvc.Html
@using MVCProject.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Listing</h2>

<p>@Html.ActionLink("Reports", "OpenReports")</p>

<table class="Articles">
    <thead>
    <tr class="header">
        <td class="article-title-header">
            <b>Article</b>
        </td>
        <td class="article-author-header">
            <b>Author</b>
        </td>
    </tr>
    </thead>
    <tbody>    
    @foreach (ArticleModel article in Model)
    {
        <tr>
            <td class="article-title">@Html.ActionLink(@article.Title, "OpenDetails", new {id = article.Id})</td>
            <td class="article-author">@article.Author</td>
        </tr>
    }
    </tbody>
</table>

<p>@Html.ActionLink("Create new article", "OpenCreateArticle")</p>

<p>@Html.ActionLink("Go Home", "GoBack")</p>