@using MVCProject.Models
@model ArticleModel
@{
    ViewBag.Title = "OpenDetails";
    Layout = "~/Views/ArticleDetails/Index.cshtml";
}

<h2>Details</h2>

<h3>Articele title: @Model.Title</h3>

<p><b>Article author: </b>@Model.Author</p>

<p>@Model.Content</p>

<h3>Comments and reviews:</h3>
@foreach (var comment in @Model.Comments)
{
    <p>@comment.Show()</p>
}